{% extends 'events/base.html' %}
{% block content %}


  <h1>Login</h1>


 <!-- <form action="" method=POST>
    {% csrf_token %}

    {{form.as_p}}

     <input type="submit" value="Submit" class="btn btn-success">
     <br/>
	 <br/>

  </form>
</center> -->

<form action="" method=POST>
    {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
